<!-- <div class="container">
    <div class="companyServices">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2>Add new service</h2>
                <p>Service details</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <button ng-click="$ctrl.sendService()" class="btn addService_btn">+</button>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>Service name</h3>
                <input ng-model="$ctrl.services.serviceName" type="text">
                <h3>Service description</h3>
                <textarea ng-model="$ctrl.services.serviceDescription" name=""></textarea>
                <button ng-click="$ctrl.reset()" class="btn btn-success reset">Reset</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>Service duration</h3>
                <input ng-model="$ctrl.services.serviceDuration" type="number">
                <h3>Spaces</h3>
                <input ng-model="$ctrl.services.serviceSpaces" type="number">
                <h3>Price</h3>
                <input ng-model="$ctrl.services.servicePrice" type="number">
                <button ng-click="$ctrl.signOut()" class="btn btn-danger signOut">Sign Out</button>
            </div>
        </div>

        <div class="row time_table">



            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="day in $ctrl.company.WorkingHours" scope="col">Mon{{day}}</th>
                    </tr>
                </thead>

                <tbody>{{$ctrl.number}}
                    <tr>
                        <td>{{$ctrl.index+1}}</td>
                        <td>
                            <div class="time_status" ng-click="$ctrl.Open(index+1)"></div>
                        </td>
                        <td>
                            <div class="time_status" ng-click="$ctrl.Open(index+2)"></div>
                        </td>
                        <td>
                            <div class="time_status"></div>
                        </td>
                        <td>
                            <div class="time_status"></div>
                        </td>
                        <td>
                            <div class="time_status"></div>
                        </td>
                        <td>
                            <div class="time_status"></div>
                        </td>
                        <td>
                            <div class="time_status"></div>
                        </td>
                    </tr>

                </tbody>
            </table>



        </div>
    </div>
</div> -->